@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--yellow) , var(--pink) );
}

:root{
    --gray-text: #555;
    --pink: #ff5acd;
    --yellow: #fbda61;
    --white: #fff;
    --smooth: all .3s ease-in;
}

.card{
    position: relative;
    width: 350px;
    height: 190px;
    /* height: 400px; */
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,.15);
    transition: var(--smooth);
}

.card:hover{
    height: 400px;
}

.avatar{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,.35);
    overflow: hidden;
    transition: var(--smooth);
}

.card:hover .avatar{
    width: 250px;
    height: 250px;
}

.avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: var(--smooth);
    transform: translateY(80px);
}

.card:hover .content .details{
    transform: translateY(-20px);
}

.content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: var(--gray-text);
    line-height: 1.2em;
}

.content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.content .details .social{
    margin-top: 30px;
}

.content .details .social a {
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #0571e6;
    color: var(--white);
    transition: var(--smooth);
}

.content .details .social a:hover{
    background: #ff5f95;
}